.saurabh {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  position: relative;
}

.appAside {
  width: 100%;
  background-color: whitesmoke;
}

/* Set the initial background image and properties */
.body {
  background-image: url("/public/main.jpg");
  background-size: cover;
  transition: background-image 0.5s ease, filter 0.3s ease; /* Adjust the durations and easing functions as per your preference */
}

/* Apply a grayscale effect on hover */
.body:hover {
  filter: blur(0.3px);
}

.appForm {
  width: 20rem;
  height: auto;
  background-color: white;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: relative;
  padding: 1rem;
  /* box-shadow: 10px 5px 10px rgba(3, 0, 0, 3); */
  filter: drop-shadow(10px 10px 10px rgb(67, 67, 66));
}

.pageSwitcher {
  display: flex;
  justify-content: flex-end;
}

.pageSwitcherItem {
  background-color: #40434e;
  color: #9da6b1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 1.2em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.pageSwitcherItem:focus {
  background-color: #6b5b95;
}

.pageSwitcherItem-active {
  background-color: #6b5b95;
  color: white;
}

.pageSwitcherItem:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.pageSwitcherItem:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.formTitle {
  color: #707c8b;
  font-weight: 600;
  font-size: 22px;
}

.formTitleLink {
  color: #707c8b;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  font-family: Arial, Helvetica, sans-serif;
}

.formTitleLink:first-child {
  color: #fc6f2b;
  text-shadow: 1px 1px #fff;
}

.formTitleLink-active {
  color: white;
  border-bottom: 1px solid #6b5b95;
}

.formField {
  margin-bottom: 20px;
}

.formFieldLabel {
  font-size: 15px;
  font-family: Poppins, sans-serif;
  color: rgb(56, 55, 54);
  width: 100%;
}

.formFieldInput {
  border: none;
  border-bottom: 2px solid white;
  border-radius: 10px;
  width: 100%;
  background-color: #d2cdcd;
  color: black;
  outline: none;
  padding: 5px 10px;
  transition: 0.8s;
}

.formFieldInput:focus {
  border-bottom: 4px solid #fc6f2b;
  border-radius: 10px;
  border-right: 4px solid #fc6f2b;
}

.formFieldInput::placeholder {
  color: #706d6d;
  font-family: Arial, Helvetica, sans-serif;
}

.formFieldButton {
  background-color: #fc6f2b;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 9px;
  padding: 10px;
  font-size: 15px;
  width: 100%;
  font-weight: 600;
  transition: 0.2s;
  margin-top: 3%;
}

.formFieldButton:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to top, #f5ce62, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(236, 222, 116, 0.75);
}

.formFieldLink {
  color: #66707d;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #6b5b95;
  padding-bottom: 5px;
}

.formFieldCheckboxLabel {
  color: #646f7d;
  font-size: 0.9em;
}

.formFieldCheckbox {
  position: relative;
  top: 1.5px;
}

.formFieldTermsLink {
  color: white;
  border-bottom: 1px solid #6b5b95;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
}

.logo img {
  height: 70%;
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Adjust appForm width */
  .appForm {
    width: 90%;
  }

  /* Adjust formFieldLabel font-size */
  .formFieldLabel {
    font-size: 15px;
  }

  /* Adjust formFieldInput padding */
  .formFieldInput {
    padding: 3px 8px;
  }

  /* Adjust formFieldButton font-size */
  .formFieldButton {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  /* Adjust appForm width */
  .appForm {
    width: 100%;
    padding: 0 10px;
  }
  .body {
    margin-left: -20%;
  }

  /* Adjust formTitleLink font-size */
  .formTitleLink {
    font-size: 1.3em;
  }

  /* Adjust formFieldLabel font-size */
  .formFieldLabel {
    font-size: 15px;
  }

  /* Adjust formFieldInput padding */
  .formFieldInput {
    padding: 3px 6px;
  }

  /* Adjust formFieldButton font-size */
  .formFieldButton {
    font-size: 16px;
  }
}

.forgotPasswordLink {
  color: rgb(87, 85, 85);
  text-decoration: underline;

  cursor: pointer;
}
